<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#patients">
        <a routerLink="/patients">Patient Management</a>
      </a>
    </li>

    <li>
      <a data-toggle="tab" href="#users">
        <a routerLink="/users">User Management</a>
      </a>
    </li>

    <li>
      <a data-toggle="tab" href="#departments">
        <a routerLink="/departments">Department</a>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="patients" class="tab-pane fade in active"></div>
    <div id="users" class="tab-pane fade"></div>
    <div id="departments" class="tab-pane fade"></div>
    <router-outlet></router-outlet>
  </div>
</div>